/*
*id page
  body
    top1
    mid1
    foot1
*class page
  text1
  searchform
  formlocation
  inputdiv
  submit
*/

body{
	display: flex;
  flex-direction: column;
  min-height:100vh; /* fix IE11 */  
}



#mid1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  flex: 1;
}

@media screen and (min-width:0\0) {  
    /* IE9 and IE10 rule sets go here */

    body{
        min-height:100%; /* fix IE11 */
    }  
    #mid1{
      flex:1 1 auto;
      flex-wrap: wrap;
    }
}

#foot1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #61E0FF;
}

.text1{
  margin: 5px;
  font-family: "Arial", Verdana, Sans-Serif;
  background:none;
  padding:0;
  border:none;
}

p{
  margin: 5px;
  font-family: "Arial", Verdana, Sans-Serif;
  color: #3a3a96; /*Blue*/
}

h1{
  font-family: "Arial", Verdana, Sans-Serif;
  margin: 5px;
}

form{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.inputdiv{
  align-items: center;
  margin: 3px;
  flex-wrap: wrap;
  min-width: 80px;
}

.submitinput{
  margin: 5px;
  width:200px;
  text-align: center;
  background: #f1f8ff;
  border: 1px solid #61E0FF;
  border-radius: 0px;
  padding: 5px;
}

  label{
    font-family: "Arial", Verdana, Sans-Serif;
    margin:0;
    margin-left: 5px;
  }

  
  .error{
    color: red;
  }

  .top1 input, #foot1 input{
    font-family: "Arial", Verdana, Sans-Serif;
    background:none;
    border:none;
    margin:4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    padding:1px;
    padding-left: 2px;
    padding-right: 2px;
    color: #3a3a96; /*Blue*/
  }